/* exo-regular - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo Regular'), local('Exo-Regular'),
  url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../lib/google-fonts/exo-v6-latin/exo-v6-latin-regular.svg#Exo') format('svg'); /* Legacy iOS */
}

/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
  url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../lib/google-fonts/titillium-web-v6-latin/titillium-web-v6-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
