html {
  position: relative;
  min-height: 100%;
  font-size: 14px;

  body {
    background-color: @bodyBackgroundColor;
    margin-bottom: @fixedFooterHeight;
    font-family: 'Titillium Web', serif;
    font-size: 14px;

    footer.footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: @fixedFooterHeight;
    }
  }
}

