@import "colorsMain.less";

@bodyBackgroundColor:        #e9e9e9;
@headerBackgroundColor:      @secondaryColor;
@navBackgroundColor:         @primaryColor;
@mainContentBackgroundColor: @secondaryColorLighten;
@mainContentFontColor:       @dark;

@footerFontColor:            #333333;
@footerBackgroundColor:      #f5f5f5;
