nav.navbar {
  background-color: @navBackgroundColor;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border-color: @secondaryColor;
  border-left-width: 0;
  border-right-width: 0;
  color: @secondaryColor;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
  min-height: inherit;

  .navbar-header {
    padding-right: 5em;

    .navbar-brand {
      color: @secondaryColor;
    }
    .navbar-toggle {
      border-color: @secondaryColor;
      position: absolute;
      right: 0;

      .icon-bar {
        background-color: @secondaryColor;
      }
    }
  }

  .navbar-collapse {
    .nav {
      > li {
        > a {
          padding-top: 5px;
          padding-bottom: 5px;
          color: @secondaryColor;
        }

        &.active,
        &.open{
          > a,
          > a:focus,
          > a:hover {
            color: @primaryColor;
            background-color: @secondaryColor;
            outline: 1px solid @primaryColor;
            outline-offset: -1px;
          }
        }

        &.dropdown {
          .dropdown-menu {
            >.active {
              >a,
              a:hover,
              a:focus {
                color: @secondaryColor;
                background-color: @primaryColor;
              }
            }

            span.navbar-text {
              display: block;
              padding: 3px 20px;
              clear: both;
              font-weight: normal;
              line-height: 1.846;
              color: #666 !important;
              white-space: nowrap;
              margin: 0;
              float: none;
            }
          }
        }
      }
    }
  }
}
