header#header {
  background-color: @headerBackgroundColor;
  position: relative;
  z-index: 1;

  .container {
    position: relative;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
    .logo-link {
      width: 100%;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }

      span {
        color: @primaryColor;
        font-family: 'Exo', sans-serif;
        font-size: 2.5em;
        line-height: 1.2;
      }
    }
  }

  .lang-chooser-wrapper {
    right: 0;
    .lang-chooser {
      .btn {
        text-transform: none;
        &.btn-primary {
          color: @secondaryColor;
          background: @primaryColor;

          &:hover,
          &:focus,
          &:active {
            background: @primaryColorLighten;
          }
        }
      }
      .dropdown-menu {
        right: 0;
        left: initial;

        li {
          &.active {
            a {
              color: @secondaryColor;
              background: @primaryColor;
            }
          }
        }
      }
    }
  }
}