/* Main Colors */
@primary:          rgb(0, 94, 170);
@primaryLighter:   lighten(@primary, 25%);
@secondary:        rgba(0, 94, 170, 0.24);
@secondaryLighter: lighten(@secondary, 25%);

/** Contextual Colors **/
@danger:  rgba(147,  22,  33, 1); /* #931621 (RUBY RED) */
@info:    rgba(169, 206, 244, 1); /* #A9CEF4 (PALE CORNFLOWER BLUE) */
@success: rgba( 75, 143, 140, 1); /* #4B8F8C (STEEL TEAL) */
@warning: rgba(225, 202, 150, 1); /* #E1CA96 (PALE GOLD) */
@light:   rgba(242, 239, 234, 1); /* #F2EFEA (ISABELLINE) */
@dark:    rgba(  2,   1,  10, 1); /* #02010A (RICH BLACK - FOGRA39) */

@primaryColor:               @primary;
@primaryColorLighten:        @primaryLighter;
@secondaryColor:             @secondary;
@secondaryColorLighten:      @secondaryLighter;

@brand-primary:         @primary;
@brand-success:         @success;
@brand-info:            @info;
@brand-warning:         @warning;
@brand-danger:          @danger;
