.main-content {
  .form {
    background: @bodyBackgroundColor;
    display: block;
    padding: 15px;
    border-radius: 8px;

    input.form-control,
    select.form-control,
    textarea.form-control {
      padding: 0 10px;
      background-color: #fff;
      color: #000;

      &[multiple] {
        background-color: transparent;
        color: @mainContentFontColor;
      }
    }

    p.form-control-static {
      padding-top: 0;
      padding-bottom: 0;
      min-height: auto;
    }

    .action-btn-set {
      text-align: right;
    }
  }
}
