.list-group {
	.list-group-item {
		background: @bodyBackgroundColor;
		color: @mainContentFontColor;
		border-color: @bodyBackgroundColor;
		border-bottom-color: @mainContentBackgroundColor;
		border-bottom-width: 2px;

		&.active {
			background-color: @primaryColor;
			border-color: @secondaryColor;
		}
	}
	.list-group-inner {
		.list-group-item:first-child {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
}
