.main-content {
  background-color: @mainContentBackgroundColor;
  color: @mainContentFontColor;
  padding: 15px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: @primaryColor;
  }

  h1 {
    font-size: 3em;
    &.page-header {
      margin-top: 0;
      font-size: 3.4em;
    }
  }
  h2,
  .h2 {
    font-size: 2.5em;
  }
  h3:not(.panel-title),
  .h3:not(.panel-title) {
    font-size: 2em;
  }
  h4:not(.panel-title),
  .h4:not(.panel-title) {
    font-size: 1.5em;
  }

  .action-wrapper {
    margin-bottom: 15px;
  }

  .pagination {
    >li {
      >a,
      >span {
        color: @primaryColor;
      }
    }

    >.active {
      >a,
      >span,
      >a:hover,
      >span:hover,
      >a:focus,
      >span:focus {
        color: @secondaryColor;
        background: @primaryColor;
        border-color: @primaryColor;
      }
    }
  }
}



body a {
  color: @primaryColor;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: @primaryColorLighten;
    text-decoration: underline;
  }

  &.btn {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &.btn-link{
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }

      &.text-success {
        color: @success;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.breadcrumb {
  a {
    color: @primaryColor;

    &:hover,
    &:focus,
    &active {
      color: @secondaryColor;
    }
  }
}

.text-primary {
  color: @primaryColor;
}

.one-line-ellipsis {
   white-space: nowrap;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
 }

.center-vertical {
  position: absolute;
  top: 50%;
  -moz-transform: translateX(0%) translateY(-50%);
  -webkit-transform: translateX(0%) translateY(-50%);
  -o-transform: translateX(0%) translateY(-50%);
  -ms-transform: translateX(0%) translateY(-50%);
  transform: translateX(0%) translateY(-50%);
}

.btn.btn-primary {
  background-color: @primaryColor;
  color: @light;

  &:hover,
  &:active {
    background-color: @primaryColorLighten;
  }
}
