
.modal {
  &#profileModal {
    .modal-header {
      background-color: @primaryColor;

      -webkit-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0;

      .modal-title {
        color: @secondaryColor;
      }
    }
  }

  &.modal-primary {
    .modal-content {
      -webkit-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;

      .modal-header {
        background-color: @primaryColor;
        border-color: @primaryColor;

        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;

        .modal-title {
          color: @light;
        }
      }

      .modal-body,
      .modal-footer {
        color: @mainContentFontColor;
      }

      .modal-body {
        background: @mainContentBackgroundColor;
      }

      .modal-footer {
        background: @bodyBackgroundColor;
      }
    }
  }
}
