h3.panel-title,
.h3.panel-title {
	color: inherit;
}
h4.panel-title,
.h4.panel-title {
	color: inherit;
}

.panel-primary {
	color: @mainContentFontColor;

	> .panel-heading {
		background-color: @primaryColor;
		border-color: @primaryColor;
	}

	> .panel-body {
		background: @bodyBackgroundColor;
	}

	> .panel-footer {
		color: @bodyBackgroundColor;
	}
}
