ul.nav-tabs {
  margin-top: 15px;
  border-bottom-color: #ddd;
  background: @bodyBackgroundColor;
  color: @mainContentFontColor;

  >li {
    >a {
      color: @mainContentFontColor;

      &:hover,
      &:focus,
      &:focus:hover {
        -webkit-box-shadow: inset 0 -2px 0 @primaryColor;
        box-shadow: inset 0 -2px 0 @primaryColor;

        color: @primaryColor;
        background-color: transparent;
      }
    }
    &.active {
      >a,
      >a:hover,
      >a:focus,
      >a:focus:hover {
        -webkit-box-shadow: inset 0 -2px 0 @primaryColor;
        box-shadow: inset 0 -2px 0 @primaryColor;

        color: @primaryColor;
        background-color: transparent;
      }
    }
  }
}
.tab-content {
  margin-top: 15px;

  .table {
    tbody {
      tr {
        .action {
          display: inline-block;
          opacity: 0;

          -webkit-transition: all 200ms ease-in-out;
          -moz-transition: all 200ms ease-in-out;
          -ms-transition: all 200ms ease-in-out;
          -o-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
        }
        &:hover {
          .action {
            opacity: 1;
          }
        }
      }
    }
  }
}
