@import "colorsMain.less";

@bodyBackgroundColor:        @secondaryColor;
@headerBackgroundColor:      @secondaryColorLighten;
@navBackgroundColor:         @primaryColor;
@mainContentBackgroundColor: @secondaryColorLighten;
@mainContentFontColor:       @light;

@footerFontColor:            @secondaryColor;
@footerBackgroundColor:      @secondaryColorLighten;
