/* Main Colors */
@primary:          rgba(156,  39, 176, 1); /* Primary           #9C27B0 (DARK ORCHID) */
@primaryLighter:   rgba(166, 117, 161, 1); /* Primary Lighter   #A675A1 (PEARLY PURPLE) */
@secondary:        rgba( 37,  40,  61, 1); /* Secondary         #25283D (YANKEES BLUE) */
@secondaryLighter: rgba( 45,  45,  85, 1); /* Secondary Lighter #8D99AE (GRAY-BLUE) */

/** Contextual Colors **/
@danger:  rgba(147,  22,  33, 1); /* #931621 (RUBY RED) */
@info:    rgba(169, 206, 244, 1); /* #A9CEF4 (PALE CORNFLOWER BLUE) */
@success: rgba( 75, 143, 140, 1); /* #4B8F8C (STEEL TEAL) */
@warning: rgba(225, 202, 150, 1); /* #E1CA96 (PALE GOLD) */
@light:   rgba(242, 239, 234, 1); /* #F2EFEA (ISABELLINE) */
@dark:    rgba(  2,   1,  10, 1); /* #02010A (RICH BLACK - FOGRA39) */

@primaryColor:               @primary;
@primaryColorLighten:        @primaryLighter;
@secondaryColor:             @secondary;
@secondaryColorLighten:      @secondaryLighter;

@brand-primary:         @primary;
@brand-success:         @success;
@brand-info:            @info;
@brand-warning:         @warning;
@brand-danger:          @danger;
//@brand-primary:         #2196F3;
//@brand-success:         #4CAF50;
//@brand-info:            #9C27B0;
//@brand-info:            #2196F3;
//@brand-warning:         #ff9800;
//@brand-danger:          #e51c23;
