/* Main Colors */
@primary:          rgba(152, 193, 217, 1); /* Primary           #9C27B0 (DARK ORCHID) */
@primaryLighter:   lighten(@primary, 20%); /* Primary Lighter */
@secondary:        rgba(255, 255, 255, 1); /* Secondary         #FFFFFF (WHITE) */
@secondaryLighter: rgba(255, 255, 255, 1); /* Secondary Lighter #FFFFFF (WHITE) */

/** Contextual Colors **/
@danger:  rgba(220,  53,  69, 1); /* #DC3545 (BS4 DANGER) */
@info:    rgba( 23, 162, 184, 1); /* #17A2B8 (BS4 INFO) */
@success: rgba( 40, 167,  69, 1); /* #28A745 (BS4 SUCCESS) */
@warning: rgba(255, 193,   7, 1); /* #FFC107 (BS4 WARNING) */
@light:   rgba(248, 249, 250, 1); /* #F8F9FA (BS4 LIGHT) */
@dark:    rgba( 52,  58,  64, 1); /* #343A40 (BS4 DARK) */

@primaryColor:               @primary;
@primaryColorLighten:        @primaryLighter;
@secondaryColor:             @secondary;
@secondaryColorLighten:      @secondaryLighter;

@brand-primary:         @primary;
@brand-success:         @success;
@brand-info:            @info;
@brand-warning:         @warning;
@brand-danger:          @danger;
