@media (max-width: 767px) {
  #header {
    .logo {
      .logo-link {
        img {
          margin: 0 auto;
        }
      }
    }
    .user-menu-wrapper {
      position: relative;
      z-index: 1;
      font-size: 1.3em;
    }
    .help-support {
      font-size: 1.3em;
    }
  }
  nav.navbar {
    .navbar-collapse {
      background-color: @primaryColor;
      color: @secondaryColor;
      
      .nav {
        > li {
          > a {
            color: @secondaryColor;

            &:hover,
            &:focus {
              color: @primaryColor;
              background-color: @secondaryColor;
            }
          }

          &.dropdown {
            .dropdown-menu {
              > li {
                > a {
                  color: @secondaryColor;

                  &:hover,
                  &:focus {
                    color: @primaryColor;
                    background-color: @secondaryColor;
                  }
                }

                &.active {
                  > a,
                  > a:hover,
                  > a:focus {
                    color: @primaryColor;
                    background-color: @secondaryColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    font-size: 1.4em;

    h1 {
      &.page-header {
        font-size: 1.7em;
      }
    }
    .btn-group,
    .btn-group-vertical {
      display: inline-block;
    }
  }
  .login-wrapper {
    margin-top: 15px;
    left:auto;
    right:auto;
  }

  .tab-content {
    .table {
      tbody {
        tr {
          .action {
            opacity: 1;
          }
        }
      }
    }
  }
  .center-vertical {
    position: inherit;
    top: 0;
    -moz-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
    -o-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
  }
}
