@media (min-width: 768px) {
  nav.navbar {
    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;

      .nav {
        &.navbar-right {
          margin-right: 0;
        }
      }
    }
  }
}